<div class="container">
  <div class="col col-8">
    <h1 class="text-center">Edit</h1>
    <form [formGroup]="bookForm" (ngSubmit)="updateBook(id)" novalidate>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" formControlName="title" aria-describedby="emailHelp">
        <div *ngIf="title && title.invalid && (title.dirty || title.touched)">
          <em style="color: red;" [hidden]="!title.errors?.required">Required</em>
        </div>
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        <input type="text" class="form-control" id="author" name="author" formControlName="author" aria-describedby="emailHelp">
        <div *ngIf="author && author.invalid && (author.dirty || author.touched)">
          <em style="color: red;" [hidden]="!author.errors?.required">Required</em>
        </div>
      </div>
      <div class="form-group">
        <label for="description">Des</label>
        <textarea class="form-control" id="description" name="description" formControlName="description" rows="3"></textarea>
        <div *ngIf="description && description.invalid && (description.dirty || description.touched)">
          <em style="color: red;" [hidden]="!description.errors?.required">Required</em>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="bookForm.invalid" style="margin-right: 10px;">Save</button>
      <a routerLink="/books/list" class="btn btn-secondary">Back</a>
    </form>
  </div>
</div>
